section{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background:url(https://www.pdcahome.com/wp-content/uploads/2018/03/antenas-teleco.png) no-repeat;
    background-position: center;
    background-size: cover;
    
}   

.container {
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px ;
    backdrop-filter: blur(15px);
    height: 450px;
    display: flex ;
    justify-content: center;
    align-items: center;
    
}

.container b{
    font-size: 1.3rem;
    color: #050505;
    text-align: center;
    font-family:bold;
    
    }

