<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
           
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Barrio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>103456</td>
                    <td>Juan</td>
                    <td>3125831346</td>
                    <td>Calle9e#23b-43</td>
                    <td>Bretaña</td>
                    <td>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>