<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="contenedor">
            <div class="formulario">
    
                <form action="#">
                    <h2>Registro</h2>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="nombre" required>
                        <label for="#">Nombres</label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="apellido" required>
                        <label for="#">Apellidos</label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="adress" required>
                        <label for="#">Direccion</label>
                    </div>

                        <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" required>
                        <label for="#">Email</label>
                    </div>
                    
                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required>
                        <label for="#">Contraseña</label>
                    </div>
                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required>
                        <label for="#">Repetir Contraseña</label>
                    </div>
                  
                </form>
    
                <div>
                    <button>Registrar</button>
                    <div class="registrar">
                        <p>Otras opciones de Registro <a href="#">Clic Aquí</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
