<section>
    <div class="container">
        <div class="card text-center ">
            <div class="card-header">
                 <b>REGISTRO</b>
            </div>
    
            <div class="card-body p-4" >
                <label style="float: left; font-family: bold;">Nombre</label>
                <input class="form-control m-2" type="email" name="nombre">

                <label style="float: left; font-family: bold;">Apellido</label>
                <input class="form-control m-2" type="email" name="apellido">

                <label style="float: left; font-family: bold;">Numero de Telefono</label>
                <input class="form-control m-2" type="number" name="telefono">

                <label style="float: left; font-family: bold;">Direccion</label>
                <input class="form-control m-2" type="text" name="direccion">

                <label style="float: left; font-family: bold;">Correo</label>
                <input class="form-control m-2" type="email" name="email">

                <label style="float: left; font-family: bold;">Contraseña</label>
                <input class="form-control m-2" type="password" name="password">
    
                <label style="float: left; font-family: bold;">Repetir Contraseña</label>
                <input class="form-control m-2" type="password" name="password">
    
                <button class="btn btn-primary btn-block">Registrar</button>
                
                      
            </div>
        </div>
    </div>
    </section>